@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
	background-image: url(/images/bg.png);
	background-repeat: repeat;
	background-color: darkslategray;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

#page {
	/*margin-top: 1.5em;*/
	background-color: rgba(250, 250, 250, 0.6);
	width: 100%;
	position: fixed;
  left: 0;
  top: 0;
}

h1 {
	font-size: 50px;
	border-radius: 5px;
	background-color: rgba(205, 205, 205, 0.8);
	padding: 0.5em;
	margin: 0;
}

p {
	font-size: 18px;
}

#gallery h2 {
	padding: 10px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

#coverImg {
	/*border: 1px solid black;*/
	background-image: url(/images/CatOil.png);
	background-position: top right;
	background-repeat: no-repeat;
	height: 280px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: tomato;
/*	position: fixed;
	top: 0;
	width: 100%;*/
}

li {
	float: left;
}

li a {
	font-size: 20px;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: firebrick;
}


#gallery {
	/*border: 1px solid black;*/
	/*overflow: auto;*/
	/*margin: auto;*/
	/*width: 100%;*/
	text-align: center;
	padding: 2em;
	background-color: white;
	margin: 1em 2em;
	border-radius: 5px;
	box-shadow: 1px 1px 2px darkslategray;
}

.entry {
	display: inline-block;
	width: 250px;
	/*float: left;*/
	/*background-color: gold;*/
	margin: 0.5em 0;
	height: 250px;
	
}

figure {
	display: block;
	width: 240px;
	height: 250px;
	margin: auto;
	border: 1px solid grey;
}

figure img {
	padding-top: 5px;
	width: 210px;
	height: 210px;
}

figcaption {
	font-size: 20px;
	padding : 2.5px;
	color: aliceblue;
	background-color: rosybrown;
	
}

#about {
	text-align: center;
	padding: 2em;
	background-color: rgba(240,255,240, 0.9);
}

footer {
	/*clear: left;*/
	bottom: 0;
}

/*-------------------------------------------------------------------------------
  style for LightBox
-------------------------------------------------------------------------------*/

.thumbs{
  background-color: grey;
  /*border-radius: 0.2em;
  margin: 1em;
  padding: 0.5em;*/
  display: inline-block;
  text-align: center;
}

.gallery .thumbs{
  text-align: left;
}

.thumbs a{
  display:inline-block;
  margin: 8px;
  padding: 4px;
  background-color: white;
  box-shadow: 2px 2px 2px black;
}

.thumbs a:hover{
  box-shadow: 4px 4px 4px black;
  background-color: white;
}

.thumbs img{
  display: block;
} 

/*.page{
	overflow-y: scroll;
}*/
/*body{
	height: 100%;
	overflow: hidden;
}*/

#elm-app{
	height: 100%;
	overflow: inherit;
}

#page{
	height: 100%;
	overflow: scroll;
}

#page .pageScroll{
	overflow-y: hidden;
	/*background-color: red;*/
}

.lightbox {
  /*display: none;*/
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: absolute;
  z-index: 999;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /*min-height: 1110px;
  max-height: calc(100% + 405px);*/
  /*background-color: rgb(0, 0, 0);*/
  /*background-color: rgba(0, 0, 0, 0.6);*/
  
}

/*.lightbox:target {
  display: block;
  position: absolute;
}*/

.hiddenBtn{
  display: none;
}

.lightbox.display{
  height: 100%;
}

.fixedBack{
 overflow: hidden;
 visibility: hidden;
 height: 0;	
}

.fixedBack.display{
 position: fixed;
 left: 0;
 top: 0;
 /*z-index: 998;*/
 width: 100%;
 height: 100%;
 background-color: rgb(0, 0, 0);
 background-color: rgba(0, 0, 0, 0.6);
}

.display {
  visibility: visible;
}

.lightBoxcaption{
  display: inline-block;
  background-color: white;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  z-index: 3;
  box-shadow: 2px 2px 2px gray;
  text-align: left;
  font-family: 'PT Serif', verdana, serif;
  color: black;
}

/*@media screen and (min-width: 1024px){
  .lightbox {
    text-align: center;
  }

  .lightbox-content{
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}*/

.lightbox-content{
  position: absolute;
  /*padding-bottom: 10%;*/
  padding-top: 2%;
  /*width: 400px;*/
  /*height: 500px;*/
  /*max-width: auto;*/
  display: inline-block;
  /*left:50%;*/
  max-width: 90%;
  
  /*max-width: 80%;*/

  
 


  /*margin-left: 15%;*/
  /*margin-right: 15%;*/
  outline: none;
}



.picContainer{
  width: 100%;
  position: relative;
  background-color: white;
  margin: 0;
  padding: 0.5em;
  box-shadow: 2px 2px 2px gray;
  z-index: 2;
}

.unzoomed{
  display: block;
  width: 100%;
  height: auto;
  /*max-height: 750px;*/
  color:#fff;
}

.zoomed{
  display: block;
  width: 100%;
  color:#fff;  
}

@media screen and (max-width: 800px){
  .picContainer{
    padding:0.2em;
  }

  .lightBoxcaption{
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

/*@media screen and (max-width: 1368px){
    .lightbox-content{
     padding: 15px 0 0 0;
     margin: 0;
     background-color: yellow;
    }

   .unzoomed{
    max-height: 550px;
   }

  .zoomed{
   display: block;
   width: 100%;
   color:#fff;  
  }
}

@media screen and (max-width: 500px) {
  
  .lightbox{
    padding: 0;
    margin: 0;
  }

  .lightbox-content{
    padding: 8px 0 0 0; 
    background-color: green;
  }
  
  .picContainer{
    padding:0.2em;
  }

  .lightBoxcaption{
  padding-left: 0.2em;
  padding-right: 0.2em;
}

  .lbunzoomed{
   background-color: purple;

  }
  
  .lbunzoomed .unzoomed{
    width: 100%;
    max-height: 270px;
  }

  .lbzoomed{
  }

  .unzoomed{
    
   }

  .zoomed{
   display: block;
   /*width: 100%;
   color:#fff;  
  }
}

@media screen and (max-width: 350px){
  .lightbox{
    padding: 0;
    margin: 0;
/*    display: flex;
    flex-direction: column;*/
    /*text-align: center;*/
  }

  /*.lightbox-content{
    padding: 8px 0 0 0; 
    background-color: blue;
  }

  .lbunzoomed{
   margin: 8px 20% 0 20%;
   background-color: purple;
  }
  
  .lbunzoomed .unzoomed{
    width: 100%;
    max-height: 430px;
  }*/

  /*.lbzoomed{
    width: 85%;
  }*/

  /*.unzoomed{
    
   }

  .zoomed{
   display: block;
   width: 100%;
   color:#fff;  
  }
}*/



.loader{
  text-decoration: none;
  margin-right: 0.2em;
  float: right;
  font-size: 25px;
  /*font-weight: bold;*/
  color: grey;
}

/*.loader i {
  margin-top: 45%;
}*/


.halfPic{
  position: absolute;
  height: 100%;
  top: 0;
  width: 25%;
  margin: 0;
  padding: 0;
}


.halfPic span, #centerPic span{
  display: block;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  position: absolute;
  top:10%;
}

.halfPic:hover span, #centerPic:hover span{
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;  
}

#halfPicleft{
  left: 0;
}

#halfPicright{
  right: 0;
}

#centerPic{
  position: absolute;
  height: 100%;
  left:25%;
  top: 0;
  width: 50%;
  margin: 0;
  padding: 0;
}

#halfPicleft:hover{
/*  background: linear-gradient(to left, rgba(0,0,0,0), rgba(110,117,142,0.3));
*/}

#halfPicleft span{
  left: 0; 
}

#halfPicright span{
  right:0;
}

#halfPicright:hover{
 /* background: linear-gradient(to right, rgba(0,0,0,0), rgba(110,117,142,0.3));*/
}

.lightboxNav{
 display: inline-block;
 width: 100%; 
}

.lightboxNav .navBtnLeft{
  display: block;
  background-color: #B0C4DE;
  float: left;
  text-decoration: none;
}

.lightboxNav .navBtnRight:hover, .lightboxNav .navBtnLeft:hover{
  cursor: pointer;
  color: white;
  background-color: teal;
}

.lightboxNav .navBtnRight {
  display: block;
  background-color: #B0C4DE;
  float: right;
  text-decoration: none;
}


.downloadHDPic {
  display: none;
  float: right;
  padding: 0.3em !important;
  margin-top: 0.15em !important;
  margin-right: 0.5em !important;
  text-decoration: none !important;
  background-color: grey !important;
  color: white !important;
}

.displayHDLink {
  display: block;
}

.displayHDLink:hover{
  color: white !important;
  background-color: teal !important;
}

#diapoLightbox{
  color: black;
  vertical-align: bottom;
  text-decoration: none;
  float: right;
  font-size: 20px;
  padding: 0.2em;
  margin-right: 0.5em;
}

#diapoLightbox:hover{
  color: grey;
  background-color: inherit;
}

#closebtn{
  text-decoration: none;
  float: right;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

#closebtn:hover{
  color: grey;
  background-color: inherit;
}


/*--end of code for LightBox-------------------------------------------------------*/